login{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    font-family: 'Sedgwick Ave Display', cursive;
}

h1{
    position: absolute;
    top:-20vh;
    bottom: 0;
    left: -4vw;
    right: 0;
    margin: auto;
    width: 300px;
    height: 100px;
    font-family: 'Sedgwick Ave Display', cursive;
}
.accounts{
    position: absolute;
    top:-40vh;
    left: 7vw;
    right: 0;
    margin: auto;
    width: 300px;
    height: 100px;
    font-family: 'Sedgwick Ave Display', cursive;
}
.acctbtn{
    position: absolute;
    top:20vh;
    bottom: 50vh;
    left: -4vw;
    right: 0;
    margin: auto;
    width: 300px;
    height: 100px;
    font-family: 'Sedgwick Ave Display', cursive;
}
.accountinfo{
    position: absolute;
    top:20vh;
    bottom: 50vh;
    left: 40vw;
    right: 0;
    font-family: 'Sedgwick Ave Display', cursive;
}